*{
    margin: 0px;
    padding: 0px;
}
#page-heading{
    color: red;
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: arial;
    margin-bottom: 25px;
    font-weight: bold;
}
.section{
    border: 2px solid #000000;
    width: 25%;;
    display: block;
    float: left;
    margin-left: 10px;
}

.title-section{
    border: 1px solid #000000;
    float: right;
    width: 150px;
    padding : 5px;
    background: #3883de;
    color: #ffffff;
}
.content-section{
    margin-top: 20px;
    padding: 10px;
}
